.checkbox {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    cursor: pointer;
    &_footer {
        margin-bottom: 1.6em;
    }
    &__title {
        display: inline-block;
    }
    &__icon {
        position: absolute;
        left: -9999px;
    }
    &__checkmark {
        display: inline-block;
        user-select: none;
        border: 2px solid #6EBBD3;
        border-radius: 3px;
        margin-right: 18px;
        height: 18px;
        width: 18px;
        padding-left: 4px;
    }
}

.checkbox input:checked ~ .checkbox__checkmark {
    background-color: #6EBBD3;
    &:after {
        content: "";
        width: 3px;
        height: 7px;
        border: solid #fff;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
    }
}

.checkbox input:checked ~ .checkbox__checkmark:after {
    display: block;
}
